@import 'components/copy-module';

.visually-hidden {
  border:0 !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding:0 !important;
  position: absolute !important;
  width: 1px !important;
}
.page-title{
  background: #FFFF5D;
  padding: 30px 0 10px 10px;
  font-size: 18px;
  color: #A3A303;
}
.gallery-container {
  padding: 20px;
}
