<h2>Dropdown input combo</h2>
{{dropdown-input-combo
  defaultIndex=0
  inputLabel="value"
  options=model.options
  dropdownLabel="select type"
  visuallyHideLabels=true
  dropdownChangedAction=(route-action 'dropdownChangedAction')
  inputChangedAction=(route-action 'inputChangedAction')
}}
<p>type: {{model.type}}, value: {{model.value}}</p>
{{outlet}}
